html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FCFFE9;
    min-height: 100vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #1F2937;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color:#FDE0D9;
    position: fixed;
    width: 100%;
    top: 0;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
}

.text {
    display: flex;
}